.wrapper {
    display: flex;
    font-size: 16px;
    color: #3483CC;
    position: absolute;
    right: 156px;
    top: 40px;
    cursor: pointer;
}

.wrapper:hover, .wrapper:active,  .wrapper:hover svg, .wrapper:active svg{
    color: #EB5757;
}

.icon {
    color: #B3BAC0;
    margin-right: 0.5rem;
    font-size: 24px;
}
